---
title: Home
---
<div class="page-splash">
    <div class="pfp-container">
        <img class="pfp-img" src="assets/images/main/myface.jpeg">
    </div>
    <span class ="my-name">HI, I'M AVI.</span>
</div>

<div class="page-wrapper">

    <div class="section-header">
        
        <h1 class ="section-title">Recent Projects</h1>
        <a href="pages/posts.html" class ="section-link">SEE ALL</a>

    </div>
    
    <div class='project-showcase'>
        
        {% for project in site.projects limit: 12 %}
        <div class="project">
            <a href="{{project.url}}" class="project-panel">
                <div class="project-thumbnail" {% if project.project_header_img %}style="background-image: url({{project.project_header_img}}); background-size: cover;" {% endif %}></div>
                <div class="project-desc">
                    <h1 class="project-details">{{ project.project_name }}</h1>
                    <span class="project-category">{{ project.project_category }}</span>
                </div>
            </a>
        </div>
        {% endfor %}
        
    </div>

</div>