* {

    padding: 0px;
    margin: 0px;

    background-color: #222222;
    color:#f3f3f3;

}

html, body {
    position:relative;
    overflow-x:hidden;
}

html {

    font-family: 'Josefin Sans', sans-serif;

}

.page-header {

    height: 80px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

}

.site-logo {

    font-family: 'Roboto', sans-serif;
    font-size: 3em;

}

.page-footer {

    height: 40px;
    width: 100%;

    margin-top: 35px;

    display: flex;
    justify-content: center;
    align-items: center;

}

.email-desc {
    
    width: 90%;
    text-align: center;

}

@media only screen and (min-width: 750px) {

    .page-header {

        padding-left: 20px;
        justify-content: flex-start;
    
    }

}
