@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

* {

    padding: 0px;
    margin: 0px;

    background-color: #222222;
    color:#f3f3f3;

    scrollbar-width: none;
    -ms-overflow-style:none;
}

html, body {
    // position:relative;
    overflow-x: hidden;
    height: 100%;
    
}

html {

    font-family: 'Josefin Sans', sans-serif;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);

}

body::-webkit-scrollbar {

    display: none;

}

.page-header {

    height: 80px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

}

.site-logo {

    font-family: 'Roboto', sans-serif;
    font-size: 3em;
    text-shadow: 0px 0px 5px black;

}

.ext-img-container {

    width: 32px;
    height: 32px;
    margin: 5px;

}

.ext-link-img {

    height: 100%;
    width: 100%;

}

.ext-links{

    width: 500px;
    height: 100%;
    display: flex;
    justify-content: center;
    
}

.page-footer {

    height: 40px;
    width: 100%;

    margin: 15px;

    font-family: 'Manrope', sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.email-desc {
    
    margin: 35px 0px 5px 0px;
    width: 90%;
    text-align: center;

}

@media only screen and (min-width: 750px) {

    .page-header {

        padding-left: 20px;
        justify-content: flex-start;
    
    }

}
