* {
    padding: 0px;
    margin: 0px;
}

html, body {
    position:relative;
    overflow-x:hidden;
}

html {

    background: #f3f3f3;    
    font-family: 'Josefin Sans', sans-serif;

}

.page-header {

    height: 80px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

}

.site-logo {

    font-family: 'Roboto', sans-serif;
    font-size: 3em;
    color: #202020;

}

.page-footer {

    height: 40px;
    width: 100%;

    margin-top: 35px;

    display: flex;
    justify-content: center;
    align-items: center;

}

.email-desc {

    text-align: center;
    color: #4d4d4d;

}

.my-email {

    color: #202020;

}


@media only screen and (min-width: 750px) {

    .page-header {

        padding-left: 20px;
        justify-content: flex-start;
    
    }

}
