<!doctype html>

<html>

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{{ page.title }}</title>

        <link rel="stylesheet" href="/assets/css/project.css">
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap" rel="stylesheet">

    </head>

    <body>
        
        {% include header.html %}
        
        <div class="project-container">
            <div class="project-header" style="background-image: url({{page.project_header_img}});">
                <div class="technologies-container">
                    
                    {% for tech in page.project_technologies limit: 3 %}
                        {% assign technology = site.data.technologies | where:"name",tech | first %}
                        <div class='technology' style="background-color: #{{ technology.colour }};">
                            <p class='technology-text'>{{ technology.name }}</p>
                        </div>
                    {% endfor %}

                </div>
                <div class="project-details">
                    <p class="project-category">{{ page.project_category }}</p>
                    <h1 class="project-name">{{ page.project_name }}</h1>
                </div>
            </div>
            <div class="project-content">
                hello!!
                How are u!!
                {{ content }}
            </div>
        </div>
        

        {% include footer.html %}

    </body>

</html>